@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Montserrat:wght@300;400&display=swap');

:root {
    --oro-fino: #9b804e;
    --texto-oscuro: #2b2b2b;
    --gris-texto: #666666;
    --fondo-fuera: #f2f0eb; /* Color hueso elegante */
}

body {
    /* Fondo con un patrón sutil y muy fino */
    background-color: var(--fondo-fuera);
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e0dcd3' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: var(--texto-oscuro);
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* El "Libro" central */
.pagina-libro {
    background-color: #ffffff;
    max-width: 750px;
    width: 85%;
    margin: 50px auto;
    padding: 70px 80px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.03), 0 1px 3px rgba(0,0,0,0.02);
    border: 1px solid #eae6de;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2rem;
    color: var(--oro-fino);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.subtitulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 3px;
    color: var(--gris-texto);
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* La lista elegante */
.lista-estudios {
    display: flex;
    flex-direction: column;
}

.lista-estudios a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--texto-oscuro);
    padding: 20px 10px;
    border-bottom: 1px solid #f0eee9;
    transition: all 0.4s ease;
}

.lista-estudios a:last-child {
    border-bottom: none;
}

.lista-estudios a .numero {
    font-style: italic;
    color: var(--oro-fino);
    font-size: 1.2rem;
    width: 60px;
}

.lista-estudios a .titulo {
    font-size: 1.3rem;
    font-weight: 400;
}

.lista-estudios a:hover {
    background-color: #faf9f7;
    padding-left: 20px;
}

.lista-estudios a:hover .titulo {
    color: var(--oro-fino);
}
